li {
  width: 100%;
  border-bottom: 1px solid #ededed;
}

.toggle {
  opacity: 0;
  cursor: default;
  max-width: 2px;
  position: absolute;
  left: 9px;
  top: 9px;
}

.toggleBox {
  position: relative;
  padding: 9px;
  border: 1px solid #ededed;
  border-radius: 50%;
  cursor: default;
  color: transparent;
  text-align: center;
  font-weight: 100;
}

.todo {
  padding: 16px;
  border: 1px solid transparent;
  background-color: rgb(254, 254, 254);
  width: 75%;
  font-size: 25px;
  font-weight: 100;
  outline: none;
}

.remove {
  font-size: 38px;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.35);
  border: none;
  padding-right: 10px;
  outline: none;
}

.todoItem::before {
  content: "hi";
  color: transparent;
  background-color: inherit;
  position: relative;
}

.done {
  text-decoration: line-through #ededed;
  color: #ededed;
}

.checked {
  border: 1px solid #c0dad5;
  color: #6cc2af;
  font-weight: 100;
}

.unseen {
  opacity: 0;
}
